html {
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: 100%;
}

#menu {
    float: left;
    width: 20%;
    height: 100%;
}

#content {
    float: right;
    width: 80%;
    height: 100%;
}

#url {
    width: 800px;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.pure-menu-link {
    cursor: pointer;
}